@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';

*{
    @apply m-0 p-0 box-border;
}

:root{
    --primary: #0066cc;
    --secondary: #2e8b57;                 
    --secondary-btn-hover: #246b45;                 
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Inter';
    @apply text-base bg-white text-black antialiased overflow-x-hidden;
}

.btn{
    @apply flex items-center justify-center px-5 py-1.5 rounded-sm font-semibold;
}

.btn.primary{
    @apply  text-white bg-[var(--primary)];
}

.f-col{
    @apply flex flex-col;
}

.buttons{
    @apply flex items-center gap-5;
}

.buttons .btn{
    @apply lg:px-7 lg:py-2 xl:px-9 xl:py-2.5 ;
}

.buttons .btn.features-1{
    @apply bg-[#e6e6e6] rounded-xl transition-colors duration-150;
}

.btn.features-2:hover{
    @apply bg-[#e6e6e6] rounded-xl;
}

.buttons svg{
    @apply fill-black;
}

.consistent-padding{
    @apply px-10 py-10 sm:px-15 sm:py-15 lg:px-20 lg:py-20 2xl:px-30 2xl:py-30;
}

.consistent-gap{
    @apply gap-3 sm:gap-7 xl:gap-10;
}