@import 'tailwindcss';

*{
    @apply m-0 p-0 box-border;
}

:root{
    --primary: #0066cc;
    --secondary: #2e8b57;                 
    --secondary-btn-hover: #246b45;                 
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    @apply text-base bg-white text-black antialiased overflow-x-hidden;
}

.btn{
    @apply flex items-center justify-center px-5 py-1.5 rounded-sm font-semibold;
}

.btn.primary{
    @apply  text-white bg-[var(--primary)];
}

.f-col{
    @apply flex flex-col;
}

